* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.box {
  min-width: 100%;
  min-height: 80px;
}

.classeDaBox3 {
  background-color: #fc73c2;
  color: #fff;
  padding: 20px;
}